body {
    background-color: lightblue;
    padding: 0;
    margin: 0;
}

h1 {
    text-align: center;
}

.card {
    float: left;
    background-color: rgb(47, 47, 221);
    text-align: center;
    margin-left: 12.5%;
    margin-right: 12.5%;
    /* padding: 20px; */
    padding-top: 10px;
    padding-bottom: 20px;
    width: 25%;
    height: auto;
    overflow: auto;
    border-radius: 10px;
    box-shadow: 2px 5px 5px 0px;
}

#input {
    width: 50%;
    border-radius: 5px;
    margin-bottom: 10px;
}

ul {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    list-style-type: none;
    background-color: #ddd;
    padding: 0px;
    border-radius: 5px;
}

li {
    margin-bottom: 5px;
    font-size: 18px;
}